html{
    font-family: Roboto ;
}
.headerLinks a{
    margin: 10px;
    margin-right: 15px;
    font-size: 12px;
    color: #f5f2eb;
    text-align: left;
}
.active{
    background-color: #008b8b;
    height: 28px;
    width: 90px;
    padding: 5px;
    border-radius: 14px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.searchResult{
    margin-top: 18px;
    font-size: 24px;
    font-weight: 500;
    color: #626767;
    text-align: left;
    line-height: 24px;
    text-align: left;
}
.resultCount{
    float: right;
    margin-top: 4px;
    font-size: 14px;
    color: #626767;
    text-align: left;
}
.divider{
    margin-top: 18px;
    background-color: #b5baba;
    border: 1px solid #b5baba;
}
.container{
    width:83.36%; 
    margin-left: 8.32%;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
#divSearch{
    margin-top: 20px;
}
#formSearch{
    /*width: 740px;*/
    max-width: 800px;
    width: 65%;
    float: left;
}
#ipSearch{
    /*float: left;*/
    height: 40px;
    /*width: 600px;*/
    width: 80.99%;
    background-color: #f6f6f6;
    /*background-color: black;*/
    border-radius: 20px 0px 0px 20px;
    padding-left: 21px;
    color: #626767;
    font-size: 14px;
    font-weight: 100;
    text-align:left;
    transition: box-shadow 0.33s ease-in-out;
}
#ipSearch:focus{
    border: none;
    box-shadow:  inset 0 1px 1px #fff, 0 0 8px #34a9a2;
}
#btnSearch{
    float: right;
    height: 43px;
    /*width: 120px;    */
    width: 16.2%;    
    margin-left: -4px;
    font-size: 16px;
    font-weight: 100;
    color: #ffffff;
    background-color: #626767;
    border-radius: 0px 20px 20px 0px;
}
#divSortBy{
    float: right; 
    margin-top: 3px;
    color: #626767;
}
#ddlSortBy{
    border: none;
    outline: none;
    background-color: #f0f1f2;
    margin-left: 5px;
    border-radius: 20px;
    height: 40px;
    width: 170px;
    color: #626767;
    font-size: 15px;
    font-weight: 100;
    text-indent: 21px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#ddlSortBy {
  background-image:
    linear-gradient(45deg, transparent 50%, #626767 50%),
    linear-gradient(135deg, #626767 50%, transparent 50%),
    linear-gradient(to right, #f0f1f2, #f0f1f2);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}
#ddlSortBy::-ms-expand {
    display: none;
}
.filterIcons img{
    display: none;
}
/*for 1160px screen and below*/
@media screen and (max-width:1160px){
    .headerLinks{
        display: none;
    }
    .header_bg #hamberg{
        margin-right: 50px;
        display: inline;
    }
    #formSearch{
        width: 70%;
    }
    #ipSearch{
        width: 80%;
    }
}
/*for 768px screen and below*/
@media screen and (max-width:768px){
    .container{
        width: 87.36%; 
        margin-left: 6.32%;
    }
    .filterIcons img{
        /*padding-left: 20px;*/
        padding-left: 2%;
        display: inline;        
    }
    #divSortBy{
        display: none;
    }
    #formSearch{
        width: 80%;
    }
    #ipSearch{
        float: left;
        height: 40px;
        /*width: 425px;*/
        width: 78%;
    }
    #btnSearch{
        float: left;
        /*width: 100px;*/
        width: 15%;
    }
    #imgSearch{
        display: none;
    }
}
@media screen and (max-width:610px){
    #formSearch{
        width: 100%;
    }
    #ipSearch{
        width: 69%;
    }
    #btnSearch{
        float: left;
        width: 62px;
    }
}
/*for 320px screen and below*/
@media screen and (max-width:320px){
    .searchResult{
        margin-left: 45px;
    }
    .resultCount{
        margin-right: 91px;
    }
    .container{
        width: 87.36%; 
        margin-left: 6.32%;
    }
    .header_bg #hamberg{
        margin-right: 15px;
        display: inline;
    }
    .filterIcons img{
        padding-left: 0px;
        padding-right: 60px;
    }
    #imgSearch{
        padding-left: 20px;
        display: inline;
    }
    #imgFilter{
        padding-right: 0px;
    }
    #formSearch{
        display: none;
    }
}