.footer
      | DENTAL.io © 2015 All Rights Reserved
      span.text
        a(href='#') TERMS OF USE
        |             and
        a(href='#') PRIVACY POLICY
        |             | Designed by
        a(href='#') PIXELSPOTSTUDIO.COM