head
    // Favicon
    link(rel='icon', type='image/png', href='/images/icons/bg.png')
    title Dental.io #{title}
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/user.css', rel='stylesheet')
    link(href='/css/slider.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500', rel='stylesheet')