.header_bg
      a(href='/')
        img#logo(src='/images/icons/logo.svg', alt='Dental.io Logo')
      span.headerLinks
        a(href='/') HOME
        a(href='#') ABOUT
        span.active
          a(href='/users/search') DOCTORS
        a(href='#') MEDICAL HISTORY   
        a(href='#') APPOINTMENTS
        a(href='#') COMMUNICATION
        a(href='#') PROFILE
        a(href='/logout') Logout
      img#hamberg.pointer(src='/images/icons/menu.svg', alt='Open Menu')